<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p>
    <span th:text="List of products"></span>
</p>

<div th:if="${ not#lists.isEmpty(categoryDisplay)}">
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>PicUrl</th>
        </tr>
        <tr th:each="category : ${categoryDisplay}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.title}"></td>
            <td th:text="${category.picUrl}"></td>
        </tr>
        </table>
</div>
</body>
</html>