<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>admin panel</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body {
            background-image: linear-gradient(to right, #e974a1, #f5f515);
            color: #2c2c2c;
        }
    </style>
</head>
<body>
<h1 style="text-align: center">Please enter the correct data</h1>
<div class="container">
    <form class="form-signin" method="get" action="/admin/registration">
        <button class="btn btn-info btn-block" type="submit">Retry</button>
    </form>
</div>
</body>
</html>